#topicdetail{
    margin-top: 2.5rem;
}

.topicdetail__title h1{
    text-align: center;
    font-weight: 700;
    margin-bottom: 3rem;
    line-height: 1.5;
}

.topicdetail__contents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.topicdetail__content{
    margin-bottom: 2.5rem;
    width: 100%;
    height: max-content;
    background-color: white;
    box-shadow: rgb(145 158 171 / 24%) 0px 0px 2px 0px, 
                rgb(145 158 171 / 24%) 0px 16px 32px;
    border-radius: 16px;
    padding: 16px 24px;
}

.topicdetail__name {
    font-weight: 700;
    font-size: 1.8rem;
    text-align: center;
}


.topicdetail__doc h6{
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5;
}

.topicdetail__doc textarea{
    min-height: 200px;
    width: 100%;
    line-height: 1.42;
    border-radius: 8px;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    resize: none;
}

.topicdetail__item{
    display: flex;
    align-items: center;
    column-gap: 1.1rem;
    color:  #363e49;
    padding-bottom: 20px;
}

.topicdetail__item i{
    font-size: 2rem;
    
}

.topicdetail__item span:first-child{
    font-weight: 400;
    font-size: 1.8rem;
}

.topicdetail__item span:last-child{
    font-weight: 600;
    font-size: 1.8rem;
}
